<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <import>
    <destinationUrl></destinationUrl>
    <baseFileName></baseFileName>
    <userInfoDateTime></userInfoDateTime>
    <updateVersions></updateVersions>
    <fileLocation></fileLocation>
  </import>
  <export>
    <sourceUrl></sourceUrl>
    <baseFileName></baseFileName>
    <exportMethod></exportMethod>
    <fileLocation></fileLocation>
  </export>
</configuration>